.home-view-container {
  padding-top: 40px; }
  .home-view-container .header .text-div {
    padding: 30px;
    text-align: center; }
    .home-view-container .header .text-div h1 {
      margin-bottom: 0;
      color: #E74C3C;
      font-size: 60px; }
    .home-view-container .header .text-div p {
      width: 50%;
      margin-left: 25%;
      margin-bottom: 0;
      font-size: 14px;
      color: #707070; }
    .home-view-container .header .text-div .important {
      font-size: 24px; }
