// Design
$lighter-text: #707070;
$brand-color: #E74C3C;
$blue-color: #5AE5E1;
$white-color: #FFF;
$green-color: #63E57B;
$dark-green-color: #128427;

// Effects
$transparent-overlay: rgba(0,0,0,0.2);

// Core
$view-background: #F5F5F5;

