@import 'style/_colors.scss';
@import 'style/_variables.scss';

.card-view {
  padding: 4px;
  div {
    height: 300px;
    width: 300px;
    border-radius: 5px;
  }
  .brand-card {
    background: $brand-color;
    margin: 0 auto;

    .blue-card {
      background: $blue-color;
      transform: rotate(4deg);
      .white-card {
        background: $white-color;
        transform: rotate(8deg);
        padding: $regular-view-padding - ($regular-view-padding * 0.5);
        text-align: center;

        .thumb {
          width: 90%;
        }
        .hashtag {
          text-align: center;
          color: $brand-color;
          font-size: $section-header-size;
        }
      }
    }
  }
}